body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:712px;
  width:108px;
  height:55px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:869px;
  width:108px;
  height:55px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:869px;
  width:108px;
  height:55px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:869px;
  width:108px;
  height:55px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:869px;
  width:108px;
  height:55px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1001px;
  width:108px;
  height:55px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1080px;
  width:108px;
  height:55px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1160px;
  width:108px;
  height:55px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1001px;
  width:108px;
  height:55px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1080px;
  width:108px;
  height:55px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1160px;
  width:108px;
  height:55px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1241px;
  width:108px;
  height:55px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:1001px;
  width:108px;
  height:55px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:1080px;
  width:108px;
  height:55px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:767px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:79px;
  width:286px;
  height:8px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:79px;
  width:8px;
  height:23px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:767px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:79px;
  width:59px;
  height:8px;
}
#u22_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:79px;
  width:8px;
  height:23px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:767px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:79px;
  width:161px;
  height:8px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:79px;
  width:8px;
  height:23px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:767px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:79px;
  width:366px;
  height:8px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:79px;
  width:8px;
  height:23px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:97px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:924px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:62px;
  width:76px;
  height:8px;
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:62px;
  width:8px;
  height:47px;
}
#u25_seg3 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:101px;
  width:18px;
  height:8px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:924px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:62px;
  width:76px;
  height:8px;
}
#u26_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:62px;
  width:8px;
  height:126px;
}
#u26_seg3 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:180px;
  width:18px;
  height:8px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:924px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:62px;
  width:76px;
  height:8px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:62px;
  width:8px;
  height:206px;
}
#u27_seg3 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:260px;
  width:18px;
  height:8px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:97px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:924px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:73px;
  height:8px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:8px;
  height:47px;
}
#u28_seg3 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:101px;
  width:15px;
  height:8px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:924px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:73px;
  height:8px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:8px;
  height:126px;
}
#u29_seg3 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:180px;
  width:15px;
  height:8px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:924px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:73px;
  height:8px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:8px;
  height:206px;
}
#u30_seg3 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:260px;
  width:15px;
  height:8px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:97px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:924px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:73px;
  height:8px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:62px;
  width:8px;
  height:288px;
}
#u31_seg3 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:342px;
  width:27px;
  height:8px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:144px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:924px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:62px;
  width:77px;
  height:8px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:62px;
  width:8px;
  height:47px;
}
#u32_seg3 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:101px;
  width:19px;
  height:8px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:924px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:62px;
  width:77px;
  height:8px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:62px;
  width:8px;
  height:126px;
}
#u33_seg3 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:180px;
  width:19px;
  height:8px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:924px;
  width:0px;
  height:0px;
  color:#FFFF00;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-363px;
  top:62px;
  width:367px;
  height:8px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:-363px;
  top:62px;
  width:8px;
  height:47px;
}
#u34_seg3 {
  border-width:0px;
  position:absolute;
  left:-377px;
  top:101px;
  width:22px;
  height:8px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-225px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:1001px;
  width:108px;
  height:55px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:924px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:102px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:158px;
  width:466px;
  height:336px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:102px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:158px;
  width:466px;
  height:440px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:102px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:158px;
  width:466px;
  height:440px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1905px;
  top:102px;
  width:193px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1905px;
  top:158px;
  width:466px;
  height:440px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:2px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:959px;
  width:760px;
  height:1px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:769px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:598px;
  width:1px;
  height:768px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:624px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1616px;
  top:624px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:1056px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1628px;
  top:1056px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:728px;
  width:300px;
  height:15px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:721px;
  width:94px;
  height:168px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:721px;
  width:81px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:1173px;
  width:145px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:1173px;
  width:73px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
